*{font-family: 'Noto Sans KR', sans-serif;}


#body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#title {
    font-family: 'Tilt Warp', cursive;
    display: block;
    text-align: center;
    color: #3C486B;
    font-size: 50px;
    font-weight: 600;
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 0px;
}

#current_date {
    font-family: 'Tilt Warp', cursive;
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #3C486B;
    background-color: #F0F0F0;
   
}


/* todo-form */

#todo-form {
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 20px;
    background-color: #F0F0F0;
}
input[type=text] {
    width: 60%;
    text-align: left;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}


#submit {
    color: #F0F0F0;
    background-color: #3C486B;
    border: 0.5px solid #3C486B;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

#submit:hover {
    background-color: #F9D949;
    border: 0.5px solid #F9D949;
}



/* todo-list */
#todo-list {
    text-align: center;
    align-items: center;
    font-style: none;
    line-height: 50px;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
    list-style: none;
}


#newTodo_text {
    color: #3C486B;
    text-align: left;
    font-size: 15px;
    border: 0.5px solid #3C486B;
    border-radius: 3px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

#newTodo_delete {
    background-color: #F45050;
    color: #F0F0F0;
    border: 0.5px solid #F45050;
    border-radius: 3px;
    text-align: right;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

#newTodo_delete:hover {
    background-color: #F9D949;
    border: 0.5px solid #F9D949;
}




